# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Serverless Framework
.serverless/

# Node
node_modules/

# Python caching
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# General
.DS_Store
*.log
sls_error.txt
